# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Namespace
metadata:
  name: ate-demo-data-agent
---
apiVersion: ate.dev/v1alpha1
kind: WorkerPool
metadata:
  name: data-agent
  namespace: ate-demo-data-agent
  labels:
    workload: data-agent
spec:
  replicas: 3
  sandboxClass: microvm
  workerImage: ${MICROVM_WORKER_IMAGE}
  template:
    nodeSelector:
      ate.dev/substrate-version: "${SUBSTRATE_VERSION}"
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 1Gi
